.body {
    width: 100%;
    background-color: #292B2E;
    margin: 0%;
}
.header {
    
    margin: 0%;
    background-color: #292B2E;
   
}
.menu1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo {
    align-items: flex-start;
    
}
.menu {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.list {
    align-items: center;
}
.list-style {
    color: #FFFFFF;
    width: 100px;
    font-size: 18px;
    margin: 0.5rem;
    list-style-type: none;
    align-self: center;
}
.bottom-hire {
    color: black;
    background-color: #FFB742;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
    list-style-type: none;
    align-items: flex-end;
    margin-top: 1rem;
}
.list-style:hover {
    color: #FFB742;
}
.section2 {
    text-align: center;
}
.hi {
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
}
.name {
    color: #FFB742;
    text-decoration: underline;
}
.prof {
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
}
.prof2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: capitalize;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.border {
    width: 30rem;
    height: 10rem;
    background-color: #343434;
    margin: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.more {
    fill: #B3B3B3;
}
.emblem1 {
    background-color: aliceblue; 
    border-radius: 50%;
    padding: 10px;
    width: 2em;
    
}
.exp {
    color: #FFFFFF;
    text-align: center;  
    font-size: 25px;
}
.number5 {
    color: #FFB742;
    font-size: 40px;
    text-align: center;    
} 

    
.border:hover {
    background-color: #FFB742;
}
.border:hover .number5 {
    color: black;
}

.border:hover .exp {
    color: black;
}
.border:hover .more {
    fill: black;
}

.photo {
    background-image: url('./img/Group\ 11.png');
    background-repeat: no-repeat;
    background-position: 50px;

}
.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10em;
}
.who {
    color: #FFB742;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    background-color: #343434;
    border-radius: 30px;
    width: 150px;
    height: 40px;
}
.about {
    color: #FFFFFF;
    font-size: 48px;
}
.about-text {
    font-size: 22px;
    color: #FFFFFF;
    width: 35em;
    box-sizing: border-box;
}
.bottom-hire2 {
    color: black;
    background-color: #FFB742;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
    position: relative;
    
    top: 3.5em;
}

.my-works {
    width: 100%;
    margin: 0;
    text-align: center;
}

.button-works {
    color: #FFB742;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    background-color: #343434;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    margin-left: 48%;

}
.works-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.works-li {
    color: #FFFFFF;
    list-style-type: none;
    margin: 1.5rem;
    font-size: 22px; 
    height: 2rem; 
    padding: 1rem;
}
.works-li:hover {
    color: black; 
    background-color: #FFB742;
    background-size: auto;
    border-radius: 5px;
    width: auto;
    height: 30px;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.cards-width {
    margin: 1em;
}
.section4 {
    background-color: black;
    width: 100%;
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.KB {
    color: #FFB742;
    font-size: 40px;
    margin-top: 5em;
}
.footer-text {
    color: #FFFFFF;
    font-size: 25px;
}
.head-footer {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 7em;
}
.footer-list {
    color: #7B7B7B;
    list-style-type: none;
    list-style-position: outside;
    font-size: 25px;
}